/* 每次切换页面从透明到全显示页面 */
@keyframes mytranslateY {
  100% {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    /* opacity透明度 */
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    filter: alpha(opacity=100);
    display: block;
  }
}
@-moz-keyframes mytranslateY {
  100% {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}
@-webkit-keyframes mytranslateY {
  100% {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}
@-o-keyframes mytranslateY {
  100% {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}
/* 切换到首页放大后缩小效果 */
@keyframes myscale {
  0% {
    transform: scale(1.6);
    -ms-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -o-transform: scale(1.6);
  }
  100% {
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
  }
}
@-moz-keyframes myscale {
  0% {
    transform: scale(1.6);
    -ms-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -o-transform: scale(1.6);
  }
  100% {
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
  }
}
@-webkit-keyframes myscale {
  0% {
    transform: scale(1.6);
    -ms-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -o-transform: scale(1.6);
  }
  100% {
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
  }
}
@-o-keyframes myscale {
  0% {
    transform: scale(1.6);
    -ms-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -o-transform: scale(1.6);
  }
  100% {
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
  }
}
/* 首页姓名上面的特性 */
@keyframes to_width {
  0% {
    width: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
  }
  50% {
    width: 40%;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
  }
  100% {
    width: 100%;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}
@-moz-keyframes to_width {
  0% {
    width: 80%;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
  25% {
    width: 40%;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
  }
  50% {
    width: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
  }
  75% {
    width: 40%;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
  }
  100% {
    width: 80%;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}
@-webkit-keyframes to_width {
  0% {
    width: 80%;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
  25% {
    width: 40%;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
  }
  50% {
    width: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
  }
  75% {
    width: 40%;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
  }
  100% {
    width: 80%;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}
@-o-keyframes to_width {
  0% {
    width: 80%;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
  25% {
    width: 40%;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
  }
  50% {
    width: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
  }
  75% {
    width: 40%;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
  }
  100% {
    width: 80%;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}
/* 其他页标题下面的过渡效果  剪刀效果宽度大*/
@keyframes left_widthbigger {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes left_widthbigger {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes left_widthbigger {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes left_widthbigger {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/* 其他页标题下面的过渡效果  虚线效果宽度小*/
@keyframes left_widthsmaller {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@-moz-keyframes left_widthsmaller {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@-webkit-keyframes left_widthsmaller {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@-o-keyframes left_widthsmaller {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-weight: normal;
}
html {
  overflow: hidden;
}
body {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.10294118rem;
  font-weight: normal;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
}
h1 {
  margin: 0.07352941rem 0 0.14705882rem;
  font-size: 0.22058824rem;
}
h4 {
  font-size: 0.11764706rem;
}
h5 {
  font-size: 0.10294118rem;
}
p {
  font-size: 0.08823529rem;
}
table {
  /* 合并单元格边框 */
  border-collapse: collapse;
}
input,
textarea,
button {
  outline: none;
  padding: 0.08823529rem;
  border: 0.00735294rem solid #e5e5e5;
  background: none;
}
