body {
    min-width: 320px;
    max-width: 750px;
    /* flexible,划分10等份 */
    width: 10rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Arial, Helvetica;
    background-color: #f2f2f2;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: .333333rem;
}


/* flexible是按照屏幕大小来定义html文字大小的，所以要在大于750px设置font-size */

@media screen and (min-width: 750px) {
    html {
        font-size: 75px !important;
    }
}


/* cssrem插件默认 HTML文字大小为 cssroot 16px */


/* search-content */

.search-content {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 1.173333rem;
    background-color: #c150d4;
    text-align: center;
}

.classify {
    width: 1.52rem;
    height: 1.173333rem;
}

.classify img,
.login img {
    margin-top: .133333rem;
    width: .48rem;
    height: .8rem;
}

.search {
    position: relative;
    flex: 1;
}

.search i {
    position: absolute;
    top: .293333rem;
    left: .266667rem;
    width: .48rem;
    height: .48rem;
    background: url(../images/search.png);
    background-size: .48rem .48rem;
}

.search input {
    border: 0;
    width: 88%;
    height: .8rem;
    border-radius: .44rem;
    margin-top: .16rem;
    padding: 0 .133333rem 0 .8rem;
    background-color: #fff;
    color: #999;
    font-size: .333333rem;
}

.login {
    width: 1.52rem;
    height: 1.173333rem;
}


/* gg */

.gg {
    width: 10rem;
    height: 4.906667rem;
}

.gg a {
    display: block;
    width: 10rem;
    height: 4.906667rem;
}

.gg a img {
    width: 100%;
    height: 100%;
}


/* hor-view */

.hor-view {
    display: flex;
    width: 10rem;
    height: 2.8rem;
}

.hor-view a {
    flex: 1;
}

.hor-view a img {
    width: 100%;
    height: 100%;
}


/* enter-wrapper */

.enter-wrapper {
    width: 100%;
    height: 4.106667rem;
    margin-top: .133333rem;
}

.enter-wrapper li {
    width: 100%;
    height: 4.106667rem;
    text-align: center;
}

.enter-wrapper li a {
    float: left;
    width: 2rem;
    height: 1.893333rem;
    color: #666;
    font-size: .293333rem;
}

.enter-wrapper img {
    width: 1.12rem;
    height: 1.12rem;
}

.enter-wrapper span {
    display: block;
    margin-top: -0.066667rem;
}


/* new */

.new {
    height: 3.12rem;
}

.new a {
    float: left;
    display: block;
    width: 2.483333rem;
    height: 100%;
}

.new a:nth-child(1) {
    width: 4.98rem;
}

.new a img {
    width: 100%;
    height: 100%;
}


/* footer-nav */

.footer-nav {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 10rem;
    height: 1.333333rem;
    border-top: .013333rem solid #eee;
    background-color: #fff;
}

.footer-nav a {
    flex: 1;
    color: #666;
    text-align: center;
    font-size: .266667rem;
}

.footer-nav a img {
    width: .64rem;
    height: .64rem;
    margin: .16rem .68rem 0;
}

.footer-nav a span {
    display: block;
    margin-top: -0.106667rem;
}